.filter-container {
    display: flex;
    justify-content: center;
    padding: 2rem 0 2rem 0;
    margin-bottom: 2rem;
}

.filter-options {
    display: flex;
    flex-direction: row;
    width: 20%;
}

.poke-search {
    position: relative;
    width: 60%;
}

.poke-type,
.poke-region {
    width: 50%;
}

select:focus-visible,
input[type=text]:focus-visible {
    outline: 0;
}

.poke-search input {
    width: 100%;
    padding: 1rem;
    border: 1px solid black;
    border-left: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

select {
    padding: 1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
    border: 1px solid black;
    appearance: none;

}

.poke-type,
.poke-region {
    position: relative;
}

.poke-type select {
    border-left: 0px;
    width: 100%;
}

.poke-type::before,
.poke-region::before {
    content: "";
    position: absolute;
    top: 35%;
    right: 20%;
    border-left: 0.3rem solid transparent;
    border-right: 0.3rem solid transparent;
    border-top: 0.3rem solid transparent;
    border-bottom: 0.3rem solid black;
    transform: translateY(-50%);
    pointer-events: none;
}

.poke-type::after,
.poke-region::after {
    content: "";
    position: absolute;
    top: 65%;
    right: 20%;
    border-left: 0.3rem solid transparent;
    border-right: 0.3rem solid transparent;
    border-top: 0.3rem solid black;
    border-bottom: 0.3rem solid transparent;
    transform: translateY(-50%);
    pointer-events: none;
}

.poke-region select {
    width: 100%;
    border-top-left-radius: 20px;
}