.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
    margin-bottom: 3rem;
    width: 22%;
    text-transform: capitalize;
    padding: 2rem 0.6rem 0.6rem 0.6rem;
    text-align: center;
    border-radius: 1rem;
    position: relative;
    background: url('../imgs/bg.png');
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}
.card:hover{
    cursor: pointer;
    outline: 1px solid rgba(0,0,0,0.5);
}

.card:hover .sprite{
    transform: scale(1.2);
}

.sprite{
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: -2.5rem;
}

.types {
    display: flex;
    gap: 1rem;
    justify-content: center;
    font-size: 0.5rem;
    left: 0;
    margin: auto;
}

.typing {
    display: flex;
    color: white;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
}

.typing img {
    object-fit: none;
    width: 1ch;
}