.pokeModal-container {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokeModal {
    height: 80%;
    min-width: 80%;
    padding: 1rem;
    border-radius: 20px;
}

.pokeModal::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    filter: blur(20px);
    transform: translateX(10px) translateY(10px) scale(0.8);
    background: inherit;
    z-index: -1;
}

.innerModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.innerModal>img {
    width: 40%;
}

.modalHeader {
    display: flex;
    cursor: default;
    text-transform: uppercase;
}

.modalHeader>div {
    display: flex;
    padding: 1rem;
    font-size: 1rem;
    user-select: none;
}

.main {
    flex-direction: column;
    place-items: center;
    row-gap: 1rem;
}

.modalHeader div img {
    width: 3rem;
    height: 3rem;
}

.modalHeader:hover :nth-child(odd) {
    cursor: pointer;
}

.next:hover>img,
.prev:hover>img {
    transform: scale(1.2);
}

.flavor {
    margin-bottom: 2rem;
    width: 70%;
    line-height: 1.5;
    text-align: center;
}

.general-info {
    display: flex;
    width: 70%;
    justify-content: space-around;
    text-transform: capitalize;
    line-height: 1.5;
    text-align: center;
}

.general-info div{
    margin: 0.5rem;
}

.modal-types .typing{
    width:12ch;
    justify-content: center;
}

.evoLine {
    display: flex;
    gap: 10px;
}

.evoLine p {
    align-self: center;
}

.evoLine-second {
    display: flex;
    gap: 10px;
}

.evoLine-third {
    display: flex;
}

.stat-container {
    display: flex;
}

.stat-name {
    width: 8ch;
}

.stat-bar-container {
    width: 15ch;
    margin: 5px;
    display: flex;
    gap: 2px;
}

.stat-bar {
    background-color: green;
    display: flex;
    border-radius: 20px;
    align-items: center;
    padding: 0.3rem;
    border: 1px solid black;
    justify-content: flex-end;
}