.pokeModal-container {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokeModal {
    height: 80%;
    width: 80%;
    padding: 1rem;
    border-radius: 20px;
    animation: fadeIn .2s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.pokeModal::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    filter: blur(20px);
    transform: translateX(10px) translateY(10px) scale(0.8);
    background: inherit;
    z-index: -1;
}

.innerModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    height: 100%;
    width: 100%;
    text-align: center;
    overflow-x: hidden;
}

.innerModal>img {
    width: 20%;
}

.modalHeader {
    display: flex;
    cursor: default;
    text-transform: uppercase;
}

.modalHeader>div {
    display: flex;
    padding: 1rem;
    font-size: 1rem;
    user-select: none;
    height: fit-content;
}

.main {
    flex-direction: column;
    place-items: center;
    row-gap: 0.2rem;
}

.modalHeader div img {
    width: 3rem;
    height: 3rem;
}

.modalHeader:hover div:nth-child(odd) {
    cursor: pointer;
}

.next:hover>img,
.prev:hover>img {
    transform: scale(1.3);
}

.flavor {
    margin-bottom: 2rem;
    width: 70%;
    line-height: 1.5;
    text-align: center;
}

.general-info {
    display: flex;
    width: 70%;
    justify-content: space-around;
    text-transform: capitalize;
    line-height: 1.5;
    text-align: center;
}

.general-info div {
    margin: 0.5rem;
}

.modal-types .typing {
    width: 12ch;
    justify-content: center;
}

.abilities {
    width: 80%;
    margin: 1rem;
}

.abilities p {
    margin-left: 1rem;
    text-transform: capitalize;
}

.effect{
    padding: 0.5rem;
    line-height: 1.5rem;
    border: 1px solid black;
    border-radius: 20px;
}


.evoLine img {
    height: 10rem;
    width: 10rem;
}

.evoLine p {
    align-self: center;
}

.trigger{
    font-size: 0.5rem;
}

.evoLine-container{
    width: 80%;
    text-transform: capitalize;
}

.evoLine-second-group{
    display: flex;
    overflow-x: auto;
}

.evoLine-secondLine{
    width: 100%;
}

.evo img{
    cursor: pointer;
}

.stat-container {
    display: flex;
}

.stat-name {
    width: 8ch;
}

.stat-bar-container {
    width: 15ch;
    margin: 5px;
    display: flex;
    gap: 2px;
}

.stat-bar {
    background-color: green;
    display: flex;
    border-radius: 20px;
    align-items: center;
    padding: 0.3rem;
    border: 1px solid black;
    justify-content: flex-end;
}

@media screen and (max-width: 750px) {
    .pokeModal-container{
        align-items: flex-end;
    }
    .pokeModal{
        width: 100%;
        height: 70%;
        animation: slide 0.5s ease-out;
        position: relative;
        padding: 1rem 0 1rem 0;
    }

    @keyframes slide {
        from {
            transform: translateY(200%);
        }
        to{
            transform: translateY(0%);
        }
    }

    .flavor{
        width: 90%;
    }

    .pokeModal::after {
        top: 0;
        transform: translateY(-10px);
    }

    .general-info{
        flex-direction: column;
    }

    .modal-types{
        display: flex;
        flex-direction: column;
        place-items: center;
    }

    .modalHeader{
        display: grid;
        grid-template-areas: 
        "main main"
        "prev next"
        ;
    }

    .modalHeader .main{
        grid-area: main;
        gap: 0.5rem;
        justify-content: center;

    }

    .modalHeader .prev{
        grid-area: prev;
    }

    .modalHeader .next{
        grid-area: next;
        justify-content: flex-end;
    }

    .abilities{
        width: 100%;
    }

    .innerModal > img {
        position: absolute;
        top: -10rem;
        width: 10rem;
        animation: fadeIn 0.5s ease-in;
    }
}